h4 {
  font-size: 1em;
  margin: 0;
}
.circleOutline {
  border: 2px solid;
  border-radius: 20px;
  padding: 6px;
  font-size: 40px;
  overflow: visible;
  margin: 5px;
}
.facebook {
  color: #5080BC;
}
.instagram {
  color: #E85671;
}
.twitter {
  color: #74CEEF;
}
.youtube {
  color: #BB1D27;
}
.pinterest {
  color: #CD1F2A;
}
.linkedin {
  color: #017DB6;
}
.Chip {
  margin: 0 5px 5px 0;
}
legend {
  float: none !important;
}
