.slideItem {
  position: relative;
  padding-top: 36%;

  [class~=background] {
    // background-color: #666;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
  }
  [class~=overlay] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 9;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 5%;
    visibility: hidden;
    button {
      margin: 0.5em;
    }
  }
  &:hover {
    [class~=overlay] {
      visibility: visible;

    }
  }

}
.addItem {
  [class~=overlay] {
    visibility: visible;
    background-color: rgba(0,0,0,0.1);

  }
}
